@using Apartman.Models.veritabanı
@model List<kisi_bilgileri>
@{
    ViewBag.Title = "kayitlistele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section 1 Bitiş-->
<div class="container">
    <div class="row">
        <div class="col m12 s12">
            <h4>Kişiler</h4>
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Kişi Id</th>
                        <th>Tc Kimlik</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Cep Telefonu</th>
                        <th>Adres (Daire No)</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.kisi_id -</td>
                            <td>@item.tc_kimlik</td>
                            <td>@item.ad</td>
                            <td>@item.soyad</td>
                            <td>@item.cep_telefonu</td>
                            <td>@item.Adres</td>
                            <td><a href="/Home/KisiGetir/@item.kisi_id" class="waves-effect waves-light btn">Güncelle</a></td>
                            <td><a href="/Home/sil/@item.kisi_id" class="waves-effect waves-light btn red darken-2">Kişi Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />
<br />
<!-- Section 1 Bitiş-->
